@import "tailwindcss";

@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

/* Base reset */
html,
body {
  min-height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
